<h1>Edit Your Message</h1>

<%= form_for [@group, @message] do |e| %>
  <div class="newMessageForm">
    <%= e.text_area :body, placeholder: "edit message", style: "width: 100%;height: 100%"%>
  </div>
  <br>
  <div class="submit">
    <%= e.submit %>
  </div>

<% end %>
