<h1>Edit Your Profile Photo</h1>

<%= form_for @user do |u| %>
  <div class="newMessageForm">
    <%= u.file_field :profile_photo%>
  </div>
  <br>
  <div class="upload">
      <%= u.submit  %>
  </div>
<% end %>
